.ImageHeadline{
    background-color: #1a1a1a;
    color: white;
    display: block;
    text-decoration: none;
    transition: 1s ease;

}

.ImageHeadline:hover{
    background-color: #0d0d0d;
    cursor: pointer;
}

.ImageHeadline__container{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
    padding: 60px 2.5rem 60px 2.5rem;
    width: 90%; 

}

.ImageHeadline__container__imagediv{
    min-width: 20%;
    height: 20vh;

    margin-right: 3rem;
}

.ImageHeadline__container__imagediv img{
    width: 100%;
    height: 100%;
}

.ImageHeadline__container__text{

}

.ImageHeadline__container__text__paragraph{
    font-size: 1rem;
}

.ImageHeadline__container__text__title{
    font-size: 50px;
    font-family: 'MBCorpoATitle';
    font-weight: 100;
}

.ImageHeadline__container__arrowdiv{
    margin-left: 3rem;
    font-size: 1.2rem;
}

.ImageHeadline__container__arrowdiv__arrow{
    
}

@media (max-width: 1045px){

    .ImageHeadline__container{
        padding: 60px 1rem 60px 1rem;
        width: 90%; 
    }

    .ImageHeadline__container__text__title{
        font-size: 40px;
    }


}

@media (max-width: 1350px){

    

}

@media (max-width: 1070px){

}

@media (max-width: 810px){

    .ImageHeadline__container__imagediv{
        display: none;
    }

}